streamlit
pandas
numpy
matplotlib
plotly
seaborn
geopandas
folium
rasterio
xarray
netCDF4
earthpy
scikit-image
scipy
Pillow
requests
beautifulsoup4
h5py
PyYAML
python-dotenv
boto3
pyathena
psycopg2-binary
affine
Fiona
shapely
branca
cftime
click
click-plugins
cligj
contourpy
cycler
Cython
fonttools
imageio
Jinja2
kiwisolver
MarkupSafe
munch
networkx
packaging
pyparsing
pyproj
python-dateutil
pytz
PyWavelets
rfc3339-validator
rfc3986-validator
rioxarray
six
snuggs
tenacity
tifffile
tzdata
urllib3
httpx
httpcore