streamlit
affine
scikit-learn
anyio
arrow
attrs
Babel
beautifulsoup4
bleach
branca
certifi
cftime
charset-normalizer
click
click-plugins
cligj
contourpy
cycler
decorator
defusedxml
fastjsonschema
fonttools
fqdn
h11
h5py
httpcore
httpx
idna
imageio
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
lazy_loader
MarkupSafe
matplotlib
mistune
munch
networkx
numpy
overrides
packaging
pandas
pandocfilters
Pillow
platformdirs
plotly
psycopg2-binary
pycparser
Pygments
pyparsing
pyproj
python-dateutil
python-json-logger
pytz
PyYAML
referencing
requests
rfc3339-validator
rfc3986-validator
rioxarray
rpds-py
scikit-image
scipy
seaborn
shapely
six
sniffio
snuggs
soupsieve
tenacity
tifffile
tinycss2
tornado
types-python-dateutil
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
xarray
python-dotenv
boto3
pyathena
unidecode
s3fs
jaro-winkler